
.dropdown__options {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown {
  display: none;
  position: absolute;
  top: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dropdown__item {
  &-shirt-color-pink {
    color: $pink;
  }

  &-shirt-color-blue {
    color: $blue;
  }

  &-shirt-color-yellow {
    color: $yellow;
  }

  &-shirt-color-green {
    color: $green;
  }
}
