@media screen and (max-width: 60rem) {

  .grid-item {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .shop-item {
    flex-direction: row;
    width: 50vw;
    height: 40vh;

    &__shirt {
      width: 45%;
    }

    &__buttons {
      flex-direction: column;
      height: 100%;
    }
  }

  .dropdown {
    bottom: 0;
    right: 2.4rem;
    flex-direction: row;
    width: 500%;
    height: 100%;
    border-right: 0;
    border-bottom: $border-common;
  }

  .dropdown-button {
    height: 100%;
    border-right: $border-common;
    border-bottom: 0;
  }

  .dropdown__options {
    flex-direction: column-reverse;
  }
}
