.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  border: $border-common;

  &__shirt {
    padding: $gutter;
  }

  &__info {
    padding: $gutter;
    word-wrap: normal;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }
}
