.shop-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 0.1rem solid $brand-primary;
  width: 30%;

  &__shirt {

    &--img{

    }
  }

  &__info {
    text-align: center;
    word-wrap: normal;
    &--title {

    }

    &--description {

    }
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
  }
  .dropdown {
    display: none;
  }
}
