.shop-item {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid $brand-primary;
  width: 30%;

  &__shirt {

    &--img{

    }
  }

  &__info {

    &--title {

    }

    &--description {

    }
  }

}
